<div class="jumbotron center">


 <div class="container">


      <!-- Jumbotron -->
      <div class="jumbotron">
      	<img src="/photo.JPG" height="270" width="270">
        <h1 class="lead">Save an hour a day</h1>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>The Big Idea</h2>
          <p>Rotas is a workplace tool to schedule shifts, keep track of payroll in real time software using web and mobile apps </p>
          
        </div>
        <div class="col-lg-4">
          <h2>Who is it for</h2>
          <p> Rotas is for 500,000 busy & stressed out retail managers in the UK -  Who take over 4 hours a week scheduling shifts</p>
          
       </div>
        <div class="col-lg-4">
          <h2>What you get</h2>
          <p>A unique shift management platform. That will enable save you time and momey </p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Rotas 2013</p>
      </div>

    </div> <!-- /container -->

</div>
